.unselect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }
  
  .roomlist {
    display: flex;
    width: 40%;
    flex-direction: column;
    overflow-y: auto;
    border-right-width: 2px
  }
  
  .select {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-width: 2px;
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(96 165 250 / var(--tw-border-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }
  
  .mymessage {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
  
  .otherusermessage {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
  