.chat-message {
  max-width: 70%;
  padding: 8px;
  margin: 4px 0;
  border-radius: 10px;
}

.mine {
  background-color: #dcf8c6;
}

.theirs {
  background-color: #fff;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 40%;
}
