@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}
.active {
  opacity: 1;
}

.slider-1 {
  background-image: url('../../public/assets/images/slider-1.jpg');
}

.slider-2 {
  background-image: url('../../public/assets/images/slider-2.jpg');
}

.slider-3 {
  background-image: url('../../public/assets/images/slider-3.jpg');
}

.slider-4 {
  background-image: url('../../public/assets/images/slider-4.jpg');
  background-position: 50% 90%;
}

.slider-5 {
  background-image: url('../../public/assets/images/slider-5.jpg');
  background-position: 50% 100%;
}

.slider-6 {
  background-image: url('../../public/assets/images/slider-6.jpg');
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.bg-hover-grow {
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.bg-hover-grow:hover {
  background-color: #e0e0e0; /* 예시 색상 */
  transform: scale(1.03);
}
